@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway&display=swap");

/*-----SPECIAL STYLING-----*/
body {
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(#f0ede5, #af9483);
}
p {
  font-family: "Raleway", sans-serif;
}
.container-fluid {
  padding: 15px;
  overflow: hidden;
}
/**------hover effects */

.hvr-sweep-to-top::before {
  background: #af9483;
}
/*--------HEADER----------*/
/**--------Logo------------*/

/**-------NavBar-------------*/
.bg-color-navbar {
  background-color: #615550;
}
.nav-text-color {
  color: #fafafa;
}
.navbar-toggler {
  color: #000;
}

.navbar-brand:hover {
  color: #fafafa;
}

.book-button-nav {
  background-color: #ae9e97;
  color: #fafafa;
  transition: all 0.3s;
}
.book-button-nav:hover {
  background-color: rgba(174, 158, 151, 0.63);
  color: #fafafa;
  transform: scale(1.2);
}
/*----MAIN BODY STYLING--*/
/**----Menu section--*/
.carousel-control-next-icon {
  position: absolute;
  top: 2vh;
  right: 0;
  background-color: black;
  border-radius: 25px;
  height: 20px;
  width: 20px;
}

.carousel-control-prev-icon {
  position: absolute;
  top: 2vh;
  left: 0;
  background-color: black;
  border-radius: 25px;
  height: 20px;
  width: 20px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-top: 30px;
}

.table {
  width: 100%;
  margin-bottom: 4rem;
  color: #212529;
}

/**----Booking section----*/
.book-button {
  background-color: #615550;
  color: #fafafa;
  transition: all 0.3s;
}
.book-button:hover {
  color: #fafafa;
  transform: scale(1.2);
}
.form-legal-info {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

#bookTableBox,
#orderToGoBox {
  color: #000;
  background-color: #f0ede5;
  font-family: "Raleway", sans-serif;
}
#orderToGoBox .modal-header,
#orderToGoBox .modal-footer,
#bookTableBox .modal-header,
#bookTableBox .modal-footer {
  border: none;
}

/**-----------Location section--------------*/

#map {
  min-height: 360px;
}
/*-----------FOOTER STYLING----------- */

footer {
  background-color: #615550;
}

footer h4 {
  color: #fafafa;
  letter-spacing: 2px;
}

.social-links {
  margin-top: 20px;
}

.social-links li a i {
  height: 50px;
  width: 50px;
  color: #615550;
  background-color: #af9483;
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
}

.social-links li a i:hover {
  background-color: #fafafa;
}
