@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

/*-----SPECIAL STYLING-----*/
body {
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(#f0ede5, #af9483);
}
p {
  font-family: "Raleway", sans-serif;
}
.container-fluid {
  padding: 15px;
  overflow: hidden;
}

/*--------HEADER----------*/
/**--------Logo------------*/

#logo {
  font-family: "Caveat", cursive;
  color: #f0ede5;
  font-size: 4rem;
}
#logo-nav {
  font-family: "Caveat", cursive;
  color: #af9483;
  font-size: 2rem;
}

.hvr-sweep-to-top::before {
  background: #af9483;
}


/*-----NavBar-------------*/
.cafejavalogo{
    height: 50px;
    width: 50px;
    padding: 5px;
}
.cafejavalogo:hover{
     
  color: #fafafa;
  transform: scale(1.2);
}
.cafejavalogo-hero{
     height: 80px;
    width: 80px;
    padding: 5px;
}


.bg-color-navbar {
  background-color: #615550;
}
.nav-text-color {
  color: #fafafa;
}
.navbar-toggler {
  color: #000;
}

.navbar-nav .nav-link {
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
    }

.navbar-brand:hover {
  color: #fafafa;
}

.book-button-nav {
  background-color: #Af9483;
  color: #fafafa;
  transition: all 0.3s;
}
.book-button-nav:hover {
  background-color: #Af9483;
  color: #fafafa;
  transform: scale(1.2);}
/*----MAIN BODY STYLING--*/

/*----Welcome section--*/

.welcome-section {
    background: url(../img/hero-image-2.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}

.welcome-message {
    color: #f0ede5;
    margin-top: 15vh;
}

.welcome-quote p{
    font-family: "Caveat", cursive;
  color: #f0ede5;
  font-size: 1.7rem;
    margin: 0 auto;
    padding: 0 auto;
}

/*----Menu section--*/


.jr {
  font-family: "Caveat", cursive;
  font-size: 4rem;
}

.carousel-control-next-icon {
  position: absolute;
  top: 2vh;
  right: 0;
  border-radius: 25px;
  height: 20px;
  width: 20px;
}

.carousel-control-prev-icon {
  position: absolute;
  top: 2vh;
  left: 0;
  border-radius: 25px;
  height: 20px;
  width: 20px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-top: 30px;
}

.table {

    width: 100%;
    margin-bottom: 4rem;
    color: #212529;
} 

/*----Menu price list font awesome icon small, medium & large styling--*/
th>i.sm {
  font-size: 0.8rem;
}

th>i.md {
  font-size: 1rem;
}

th>i.lg {
  font-size: 1.2rem;
}
.menu-tag-line p{
    font-family: "Caveat", cursive;
  color: #615550;
  font-size: 1.5rem;
    margin: 0 auto;
    padding: 0 auto;
    }


/**----Booking section----*/
.book-button {
  background-color: #615550;
  color: #fafafa;
  transition: all 0.3s;
}
.book-button:hover {
  color: #fafafa;
  transform: scale(1.2);
}
.form-legal-info {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

#bookTableBox,
#orderToGoBox {
  color: #000;
  background-color: #f0ede5;
  font-family: "Raleway", sans-serif;
}
#orderToGoBox .modal-header,
#orderToGoBox .modal-footer,
#bookTableBox .modal-header,
#bookTableBox .modal-footer {
  border: none;
}

#booking-font{
    font-family: "Caveat", cursive;
    color: #615550;
    font-size: 1.5rem;
}
/*----------------------------Contact Section */
.email-phone{
    font-size: 1.5rem;
}

.reach-out p{
    font-family: "Caveat", cursive;
  color: #615550;
  font-size: 1.5rem;
    margin: 0 auto;
    padding: 0 auto;
    
}

/**-----------Location section--------------*/

#map {
  min-height: 360px;
}
/*-----------FOOTER STYLING----------- */

footer {
  background-color: #615550;
}

footer h4 {
  color: #fafafa;
  letter-spacing: 2px;
}

.social-links {
  margin-top: 20px;
}

.social-links li a i {
  height: 50px;
  width: 50px;
  color: #615550;
  background-color: #af9483;
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
}

.social-links li a i:hover {
  background-color: #fafafa;
}
